@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%) hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-2 md:px-5 xl:px-0 w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .h1-bold {
    @apply font-bold text-[28px] lg:text-[36px] xl:text-[40px];
  }

  /* 40 */
  .h2-bold {
    @apply font-bold text-[24px] lg:text-[28px] xl:text-[32px];
  }

  .h2-medium {
    @apply font-medium text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  /* 36 */
  .h3-bold {
    @apply font-bold text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  .h3-medium {
    @apply font-medium text-[28px] leading-[36px] md:text-[36px] md:leading-[44px];
  }

  /* 32 */
  .h4-medium {
    @apply font-medium text-[32px] leading-[40px];
  }

  /* 28 */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  /* 24 */
  .p-bold-24 {
    @apply font-bold text-[24px] leading-[36px];
  }

  .p-medium-24 {
    @apply font-medium text-[24px] leading-[36px];
  }

  .p-regular-24 {
    @apply font-normal text-[24px] leading-[36px];
  }

  /* 20 */
  .p-bold-20 {
    @apply font-bold text-[20px] leading-[30px] tracking-[2%];
  }

  .p-semibold-20 {
    @apply text-[20px] font-semibold leading-[30px] tracking-[2%];
  }

  .p-medium-20 {
    @apply text-[20px] font-medium leading-[30px];
  }

  .p-regular-20 {
    @apply text-[20px] font-normal leading-[30px] tracking-[2%];
  }

  /* 18 */
  .p-semibold-18 {
    @apply text-[18px] font-semibold leading-[28px] tracking-[2%];
  }

  .p-medium-18 {
    @apply text-[18px] font-medium leading-[28px];
  }

  .p-regular-18 {
    @apply text-[18px] font-normal leading-[28px] tracking-[2%];
  }

  /* 16 */
  .p-bold-16 {
    @apply text-[16px] font-bold leading-[24px];
  }

  .p-medium-16 {
    @apply text-[16px] font-medium leading-[24px];
  }

  .p-regular-16 {
    @apply text-[16px] font-normal leading-[24px];
  }

  /* 14 */
  .p-semibold-14 {
    @apply text-[14px] font-semibold leading-[20px];
  }

  .p-medium-14 {
    @apply text-[14px] font-medium leading-[20px];
  }

  .p-regular-14 {
    @apply text-[14px] font-normal leading-[20px];
  }

  /* 12 */
  .p-medium-12 {
    @apply text-[12px] font-medium leading-[20px];
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-full p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .input-field {
    @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-full p-regular-16 px-4 py-3 border-none focus-visible:ring-transparent !important;
  }

  .textarea {
    @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p-regular-16 px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply rounded-full h-[54px] p-regular-16;
  }

  .select-item {
    @apply py-3 cursor-pointer focus:bg-primary-50;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }
}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705cf7;
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
}

.react-datepicker__header {
  background-color: #f9f9f9;
  border: none;
  font-weight: 500;
}

.react-datepicker__day {
  color: #848484 !important;
}

.react-datepicker__day:hover {
  background-color: #f2f2f2;
  color: #624cf5 !important;
}

.rotate-72 {
  @apply rotate-[72deg]
}

.rotate-144 {
  @apply rotate-[144deg]
}

.rotate-216 {
  @apply rotate-[216deg]
}

.rotate-288 {
  @apply rotate-[288deg]
}

.rotate-360 {
  @apply rotate-[360deg]
}

.-rotate-72 {
  @apply rotate-[-72deg]
}

.-rotate-144 {
  @apply rotate-[-144deg]
}

.-rotate-216 {
  @apply rotate-[-216deg]
}

.-rotate-288 {
  @apply rotate-[-288deg]
}

.-rotate-360 {
  @apply rotate-[-360deg]
}

.success-story-slider {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.success-story-slide {
  text-align: center;
}

.story-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

.modal-content {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

/* Optional: Smooth, modern custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 111, 0, 0.6);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 111, 0, 0.8);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}


/* STYLE 2026 */

.demo-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}





nav.nav-container ul>li {
  padding: 0;
}

nav.nav-container ul>li>a {
  padding: 0.25rem 1rem;
  border: 1px solid #309154;
  border-radius: 2rem;
  line-height: 2rem;
}

nav.nav-container ul>li>a:hover {
  background-color: #309154;
}


/* GENERIC STYLE */
main.main-container .wrapper>h2 {
  text-align: center;
}

/* HEADER */
.header .wrapper {
  margin-top: 1rem;
  padding: 0;
}

header {
  /* background-image: url('/public/assets/images/banner-1.png');
  background-size: cover;
  background-position: center; */
}

.navbar--capsule {
  display: flex;
  background-color: #085251;
  border-radius: 4rem;
  width: fit-content;
  padding: 0.5rem;
}

.navbar--capsule a {
  font-family: 'Poppins', sans-serif;
  line-height: 2rem;
}

.navbar-brand-wrapper {
  position: relative;
  height: 4rem;
  width: 4rem;
}

.navbar-brand-wrapper .brand-logo {
  position: absolute;
  min-width: 6rem;
  height: 6rem;
}

.navbar--capsule>button {
  margin-left: 0.25rem;
}

/* CONTACT US */
section.section-links {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

section.section-links>p {
  max-width: fit-content;
  background: #cfe1ff;
  margin: 0 auto;
  font-size: 1.35rem;
  text-align: center;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

/* SECONDARY BANNER */
.banner-image {
  position: absolute;
  width: 100%;
  height: 300px;
}

.header-container {
  position: absolute;
}

section.banner-container {
  position: relative;
  width: 100%;
  top: 0;
  height: 270px;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.banner-container h2 {
  position: absolute;
  bottom: 1rem;
  text-transform: uppercase;
  color: #FBFBFD;
}

/* HOME PAGE */
.mission-vision {
  background-color: #FBFBFD;
}

.mission-vision-content {
  display: flex;
  background-color: #2f6a6d;
  padding: 1rem;
  z-index: 0;
  position: relative;
  justify-content: space-between;
}

.mission-vision-content::after {
  content: "";
  width: 3rem;
  height: 3rem;
  background: #FBFBFD;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 25%;
}

.mission-vision-content>div {
  width: calc(50% - 1rem);
  padding: 1rem 1.5rem;

  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.mission-vision-content span.divider {
  background-color: #FBFBFD;
  width: 4px;
  min-height: 6%;
  max-height: 5%;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
}

/* HOME PAGE > CTA */
.cta-tiles {
  position: relative;
  background-color: #FBFBFD;
  height: 100%;
  padding: 0 3rem 3rem;
}

.donation-blurb>h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #6F4E37;
  text-align: center;
}

.cta-card * {
  color: black;
}

.cta-card {
  background-color: #F5DEB3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #967969;
  position: relative;
}

.cta-card:hover {
  background-color: #865c3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.cta-card>* {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cta-card a *,
.cta-card button *,
.cta-card div * {
  width: 100%;
  color: #EADDCA;
}

.cta-card svg {
  height: 3em;
  width: 3em;
}


.cta-card::after {
  content: "";
  width: 3rem;
  height: 3rem;
  background: #FBFBFD;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 25%;
}

.footer-logo {
  width: 35%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.footer-links {
  width: 65%;
  display: flex;
  justify-content: space-evenly;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 3rem;
    padding: 0 1.5rem;
    justify-content: center;

    &>div {
      width: 50%;
    }
  }

  @media (max-width: 500px) {
    justify-content: space-evenly;
  }
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer.footer.footer-bg {
  padding: 3.5rem 0 1rem;
  position: relative;
  width: 100%;
  height: auto;
  background-image: url("/assets/images/banner-deep-light-brown.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


footer.footer>.container {
  z-index: 1;
  position: relative;

}



/* SERVICES */
.service-content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.service-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

/* ACHIEVEMENTS */
.achievements-tabs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.achievements-tabs button {
  width: fit-content;
}

.achievements-tabs button:not(:last-child) {
  margin-right: 1rem;
}

.achievements-content {
  display: flex;
  flex-wrap: wrap;
}

.achievements-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 2rem;
  width: calc(50% - 2rem);
  margin: 1rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.card-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-image img {
  position: relative !important;
  width: 150px !important;
  height: 150px !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.card-details {}

.card-header {
  text-align: center;
  margin-bottom: 1rem;
}

/* TEAM MEMBERS */
.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .team-members-container .card-team-member {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    align-items: self-start;
  }
}